@{
    ViewData["Title"] = "ToDoList";
}


<form class="row g-3">

    <h3>To Do</h3>
    <div class="col">
        <input type="text" class="form-control" id="inputPassword2" placeholder="Add Task...">
    </div>

    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">+</button>
    </div>
</form>



<h6>My Tasks</h6>
<ul class="list-group">

    

    @{
        string[] Frutas = { "Banana", "Uva", "Maçã" };

    }

    @foreach (var Fruta in Frutas)
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col-auto">


                    <input class="form-check-input"
                       type="checkbox">

                </div>

                <div class="col">
                    @Fruta
                </div>


                <div class="col-auto">
                    <button class="btn btn-danger">Delete</button>
                </div>
            </div>
        </li>

    }

</ul>


